<button class="btn btn-danger btn-sm artgris-media-button-erase" type="button">
    <span class="fa fa-eraser"></span>
</button>
<span class="btn btn-success btn-sm fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <input class="fileupload {{ collection is defined ? 'alone' }}" type="file"
           data-url="{{ path('file_manager_upload', {conf:conf}) }}"
           name="files[]" multiple=""
            {#accept="{{ fileManager.configuration.accept is defined ? fileManager.configuration.accept : (fileManager.type ? accept(fileManager.type)) }}#}
    >
</span>
<button type="button" class="btn btn-default btn-sm artgris-media-button-upload  btn-manager"
        data-id="{{ form.path.vars.id }}"
        data-toggle="modal" data-target="#myModal{{ id }}">
    <span class="fa fa-folder-open"></span>
</button>
